USE [master]
GO
/****** Object:  Database [huyperfume]    Script Date: 06/06/2026 10:49:48 CH ******/
CREATE DATABASE [huyperfume]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'huyperfume', FILENAME = N'D:\My SQL\Database\huyperfume.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'huyperfume_log', FILENAME = N'D:\My SQL\Database\huyperfume_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [huyperfume].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [huyperfume]
GO
/****** Object:  User [LAPTOP-IHIDSGRV\huyle]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE USER [LAPTOP-IHIDSGRV\huyle] FOR LOGIN [LAPTOP-IHIDSGRV\huyle] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [LAPTOP-IHIDSGRV\huyle]
GO
/****** Object:  Table [dbo].[admin_audit_logs]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_type] [nvarchar](100) NULL,
	[target_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](100) NULL,
	[user_agent] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL CONSTRAINT [DF_admin_audit_logs_created_at]  DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[banners]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[subtitle] [nvarchar](500) NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[link_url] [nvarchar](1000) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[brand]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL DEFAULT ((1)),
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
	[updated_at] [datetime] NOT NULL DEFAULT (getdate()),
	[product_variant_id] [int] NULL,
	[unit_price] [float] NULL,
	[variant_key]  AS (isnull([product_variant_id],(0))) PERSISTED NOT NULL,
	[item_type] [nvarchar](30) NOT NULL CONSTRAINT [DF_cart_items_item_type]  DEFAULT (N'FULL_BOTTLE'),
	[selected_volume_ml] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[carts]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
	[updated_at] [datetime] NOT NULL DEFAULT (getdate()),
	[cart_token] [nvarchar](120) NULL,
	[status] [nvarchar](30) NOT NULL CONSTRAINT [DF_carts_status_phase1]  DEFAULT (N'ACTIVE'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categories]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[contact_messages]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[phone] [nvarchar](30) NOT NULL,
	[email] [nvarchar](160) NULL,
	[need] [nvarchar](120) NULL,
	[message] [nvarchar](1000) NULL,
	[status] [nvarchar](30) NOT NULL DEFAULT (N'New'),
	[created_at] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[decant_options]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[decant_options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[volume_ml] [int] NOT NULL,
	[price] [float] NOT NULL,
	[status] [bit] NOT NULL CONSTRAINT [DF_decant_options_status]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[email_verification_tokens]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[email_verification_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [char](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inventory_movements]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_movements](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[order_item_id] [int] NULL,
	[movement_type] [nvarchar](40) NOT NULL,
	[sealed_bottles_before] [int] NOT NULL,
	[sealed_bottles_after] [int] NOT NULL,
	[opened_ml_before] [int] NOT NULL,
	[opened_ml_after] [int] NOT NULL,
	[quantity_ml] [int] NULL,
	[quantity_bottles] [int] NULL,
	[reference] [nvarchar](160) NULL,
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_inventory_movements_created_at]  DEFAULT (sysutcdatetime()),
	[batch_id] [int] NULL,
	[admin_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[inventory_transactions]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[variant_id] [int] NULL,
	[product_variant_id] [int] NULL,
	[order_id] [int] NULL,
	[cart_id] [int] NULL,
	[reservation_id] [int] NULL,
	[transaction_type] [nvarchar](40) NULL,
	[delta] [int] NULL,
	[quantity] [int] NULL,
	[stock_before] [int] NULL,
	[stock_after] [int] NULL,
	[reason] [nvarchar](500) NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[performed_by] [int] NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_inventory_transactions_created_at]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[login_attempts]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_attempts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[identifier] [nvarchar](250) NOT NULL,
	[user_id] [int] NULL,
	[ip_address] [nvarchar](80) NULL,
	[user_agent] [nvarchar](500) NULL,
	[success] [bit] NOT NULL,
	[failure_reason] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_login_attempts_created_at]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_items]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[selected_batch_code] [nvarchar](100) NULL,
	[price_at_purchase] [float] NULL,
	[status] [nvarchar](50) NULL DEFAULT (N'Normal'),
	[product_variant_id] [int] NULL,
	[item_type] [nvarchar](30) NOT NULL CONSTRAINT [DF_order_items_item_type]  DEFAULT (N'FULL_BOTTLE'),
	[selected_volume_ml] [int] NULL,
	[source_batch_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_status_history]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[old_status] [nvarchar](50) NULL,
	[new_status] [nvarchar](50) NOT NULL,
	[changed_by] [int] NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL CONSTRAINT [DF_order_status_history_created_at]  DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime] NULL DEFAULT (getdate()),
	[total] [float] NULL,
	[shipping_address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
	[payment_method] [nvarchar](50) NULL,
	[momo_order_id] [nvarchar](120) NULL,
	[momo_trans_id] [nvarchar](120) NULL,
	[status] [nvarchar](50) NULL CONSTRAINT [DF_orders_status_canonical]  DEFAULT (N'PENDING'),
	[zalopay_app_trans_id] [nvarchar](120) NULL,
	[order_subtotal] [float] NULL,
	[voucher_id] [int] NULL,
	[voucher_code] [nvarchar](50) NULL,
	[voucher_discount_type] [nvarchar](20) NULL,
	[voucher_discount_value] [float] NULL,
	[voucher_discount_amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [char](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_batches]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[batch_code] [nvarchar](100) NULL,
	[total_volume_ml] [int] NOT NULL,
	[remaining_volume_ml] [int] NOT NULL,
	[import_price] [float] NULL,
	[status] [nvarchar](50) NOT NULL CONSTRAINT [DF_product_batches_status]  DEFAULT (N'ACTIVE'),
	[created_at] [datetime] NOT NULL CONSTRAINT [DF_product_batches_created_at]  DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_inventory]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[sealed_bottles] [int] NOT NULL CONSTRAINT [DF_product_inventory_sealed]  DEFAULT ((0)),
	[opened_ml] [int] NOT NULL CONSTRAINT [DF_product_inventory_opened_ml]  DEFAULT ((0)),
	[bottle_volume_ml] [int] NOT NULL CONSTRAINT [DF_product_inventory_bottle_volume]  DEFAULT ((100)),
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_product_inventory_created_at]  DEFAULT (sysutcdatetime()),
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_reviews]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[rating] [int] NOT NULL,
	[title] [nvarchar](180) NULL,
	[comment] [nvarchar](2000) NULL,
	[status] [nvarchar](30) NOT NULL CONSTRAINT [DF_product_reviews_status]  DEFAULT (N'PENDING'),
	[moderation_note] [nvarchar](500) NULL,
	[moderated_by] [int] NULL,
	[moderated_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_product_reviews_created_at]  DEFAULT (sysutcdatetime()),
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_variants]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[sku] [nvarchar](100) NULL,
	[barcode] [nvarchar](120) NULL,
	[volume_ml] [int] NULL,
	[volume_label] [nvarchar](80) NULL,
	[variant_type] [nvarchar](40) NOT NULL CONSTRAINT [DF_product_variants_type]  DEFAULT (N'STANDARD'),
	[price] [float] NOT NULL,
	[sale_price] [float] NULL,
	[stock_quantity] [int] NOT NULL CONSTRAINT [DF_product_variants_stock]  DEFAULT ((0)),
	[image] [nvarchar](500) NULL,
	[sort_order] [int] NOT NULL CONSTRAINT [DF_product_variants_sort]  DEFAULT ((0)),
	[status] [bit] NOT NULL CONSTRAINT [DF_product_variants_status]  DEFAULT ((1)),
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_product_variants_created_at]  DEFAULT (sysutcdatetime()),
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](100) NULL,
	[batch_code] [nvarchar](100) NULL,
	[name] [nvarchar](250) NOT NULL,
	[image] [nvarchar](250) NOT NULL,
	[price] [float] NOT NULL DEFAULT ((0)),
	[discount_price] [float] NULL DEFAULT ((0)),
	[quantity] [int] NOT NULL DEFAULT ((0)),
	[status] [bit] NOT NULL DEFAULT ((1)),
	[id_category] [int] NULL,
	[id_brand] [int] NOT NULL DEFAULT ((1)),
	[stock] [int] NULL DEFAULT ((0)),
	[volume_ml] [int] NULL DEFAULT ((0)),
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
	[scent_notes] [nvarchar](max) NULL,
	[is_decant] [bit] NULL DEFAULT ((0)),
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[rating_average] [float] NOT NULL CONSTRAINT [DF_products_rating_average]  DEFAULT ((0)),
	[review_count] [int] NOT NULL CONSTRAINT [DF_products_review_count]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseReceiptItems]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceiptItems](
	[PurchaseReceiptItemId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_PurchaseReceiptItems_CreatedAt]  DEFAULT (sysdatetime()),
PRIMARY KEY CLUSTERED 
(
	[PurchaseReceiptItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseReceipts]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceipts](
	[PurchaseReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL CONSTRAINT [DF_PurchaseReceipts_TotalAmount]  DEFAULT ((0)),
	[ReceiptDate] [datetime2](7) NOT NULL CONSTRAINT [DF_PurchaseReceipts_ReceiptDate]  DEFAULT (sysdatetime()),
	[Status] [nvarchar](30) NOT NULL CONSTRAINT [DF_PurchaseReceipts_Status]  DEFAULT (N'COMPLETED'),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_PurchaseReceipts_IsDeleted]  DEFAULT ((0)),
	[ReceiptCode] [nvarchar](30) NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [char](64) NOT NULL,
	[family_id] [uniqueidentifier] NOT NULL,
	[issued_jti] [uniqueidentifier] NOT NULL,
	[replaced_by_token_id] [bigint] NULL,
	[user_agent] [nvarchar](500) NULL,
	[ip_address] [nvarchar](80) NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_refresh_tokens_created_at]  DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[social_accounts]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[social_accounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[provider] [nvarchar](40) NOT NULL,
	[provider_user_id] [nvarchar](180) NOT NULL,
	[email] [nvarchar](250) NULL,
	[display_name] [nvarchar](250) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [nvarchar](30) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[RepresentativeName] [nvarchar](255) NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL CONSTRAINT [DF_Suppliers_Status]  DEFAULT (N'ACTIVE'),
	[CreatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_Suppliers_CreatedAt]  DEFAULT (sysdatetime()),
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Suppliers_IsDeleted]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupplierUpdateHistory]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierUpdateHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime2](7) NOT NULL CONSTRAINT [DF_SupplierUpdateHistory_UpdatedAt]  DEFAULT (sysdatetime()),
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_addresses]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[label] [nvarchar](80) NULL,
	[recipient_name] [nvarchar](250) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[line1] [nvarchar](500) NOT NULL,
	[line2] [nvarchar](500) NULL,
	[ward] [nvarchar](120) NULL,
	[district] [nvarchar](120) NULL,
	[city] [nvarchar](120) NULL,
	[country] [nvarchar](120) NOT NULL CONSTRAINT [DF_user_addresses_country]  DEFAULT (N'VN'),
	[postal_code] [nvarchar](30) NULL,
	[is_default] [bit] NOT NULL CONSTRAINT [DF_user_addresses_default]  DEFAULT ((0)),
	[created_at] [datetime2](7) NOT NULL CONSTRAINT [DF_user_addresses_created_at]  DEFAULT (sysutcdatetime()),
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[dob] [date] NULL,
	[password] [nvarchar](255) NOT NULL,
	[address] [nvarchar](max) NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
	[avatar_url] [nvarchar](500) NULL,
	[status] [nvarchar](30) NOT NULL CONSTRAINT [DF_users_status]  DEFAULT (N'ACTIVE'),
	[email_verified_at] [datetime2](7) NULL,
	[last_login_at] [datetime2](7) NULL,
	[password_changed_at] [datetime2](7) NULL,
	[failed_login_count] [int] NOT NULL CONSTRAINT [DF_users_failed_login_count]  DEFAULT ((0)),
	[locked_until] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[total_spent] [float] NOT NULL CONSTRAINT [DF_users_total_spent_membership]  DEFAULT ((0)),
	[membership_tier] [nvarchar](30) NOT NULL CONSTRAINT [DF_users_membership_tier_membership]  DEFAULT (N'NORMAL'),
	[membership_updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[discount_value] [float] NOT NULL,
	[min_order_value] [float] NULL,
	[max_discount_value] [float] NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL CONSTRAINT [DF_vouchers_used_count]  DEFAULT ((0)),
	[start_at] [datetime] NULL,
	[end_at] [datetime] NULL,
	[status] [bit] NOT NULL CONSTRAINT [DF_vouchers_status]  DEFAULT ((1)),
	[created_at] [datetime] NOT NULL CONSTRAINT [DF_vouchers_created_at]  DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 06/06/2026 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin_audit_logs] ON 

INSERT [dbo].[admin_audit_logs] ([id], [admin_id], [action], [target_type], [target_id], [old_value], [new_value], [ip_address], [user_agent], [created_at]) VALUES (1, 10, N'ORDER_STATUS_CHANGE', N'order', 64, NULL, N'{"status":"COMPLETED","note":null}', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-29 01:16:13.897' AS DateTime))
INSERT [dbo].[admin_audit_logs] ([id], [admin_id], [action], [target_type], [target_id], [old_value], [new_value], [ip_address], [user_agent], [created_at]) VALUES (2, 10, N'ORDER_STATUS_CHANGE', N'order', 63, NULL, N'{"status":"COMPLETED","note":null}', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-29 01:16:21.483' AS DateTime))
INSERT [dbo].[admin_audit_logs] ([id], [admin_id], [action], [target_type], [target_id], [old_value], [new_value], [ip_address], [user_agent], [created_at]) VALUES (3, 10, N'ORDER_STATUS_CHANGE', N'order', 62, NULL, N'{"status":"COMPLETED","note":null}', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-29 01:16:38.923' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[admin_audit_logs] OFF
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [name], [status]) VALUES (1, N'Dior', 1)
INSERT [dbo].[brand] ([id], [name], [status]) VALUES (2, N'Versace', 1)
INSERT [dbo].[brand] ([id], [name], [status]) VALUES (3, N'YSL', 1)
SET IDENTITY_INSERT [dbo].[brand] OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [created_at], [updated_at], [product_variant_id], [unit_price], [item_type], [selected_volume_ml]) VALUES (29, 1, 4, 1, CAST(N'2026-05-30 02:26:06.440' AS DateTime), CAST(N'2026-05-30 02:26:06.440' AS DateTime), NULL, 650000, N'DECANT', 20)
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [created_at], [updated_at], [product_variant_id], [unit_price], [item_type], [selected_volume_ml]) VALUES (30, 9, 53, 1, CAST(N'2026-05-31 09:30:53.090' AS DateTime), CAST(N'2026-05-31 09:30:53.090' AS DateTime), 45, 8200000, N'FULL_BOTTLE', NULL)
INSERT [dbo].[cart_items] ([id], [cart_id], [product_id], [quantity], [created_at], [updated_at], [product_variant_id], [unit_price], [item_type], [selected_volume_ml]) VALUES (31, 9, 52, 1, CAST(N'2026-05-31 09:30:54.337' AS DateTime), CAST(N'2026-05-31 09:30:54.337' AS DateTime), 44, 8900000, N'FULL_BOTTLE', NULL)
SET IDENTITY_INSERT [dbo].[cart_items] OFF
SET ANSI_PADDING OFF
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [user_id], [created_at], [updated_at], [cart_token], [status]) VALUES (1, 4, CAST(N'2026-05-22 10:29:44.587' AS DateTime), CAST(N'2026-05-29 19:26:16.540' AS DateTime), NULL, N'CHECKED_OUT')
INSERT [dbo].[carts] ([id], [user_id], [created_at], [updated_at], [cart_token], [status]) VALUES (2, 2, CAST(N'2026-05-22 12:01:09.983' AS DateTime), CAST(N'2026-05-26 09:27:50.177' AS DateTime), NULL, N'ACTIVE')
INSERT [dbo].[carts] ([id], [user_id], [created_at], [updated_at], [cart_token], [status]) VALUES (3, 10, CAST(N'2026-05-26 12:57:16.720' AS DateTime), CAST(N'2026-05-26 05:57:27.693' AS DateTime), NULL, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[carts] OFF
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Nước hoa Nam')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Nước hoa Nữ')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Unisex')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[contact_messages] ON 

INSERT [dbo].[contact_messages] ([id], [name], [phone], [email], [need], [message], [status], [created_at]) VALUES (1, N'Test Contact', N'0900000000', NULL, N'gift', N'Smoke test', N'New', CAST(N'2026-05-24 12:34:05.6781092' AS DateTime2))
INSERT [dbo].[contact_messages] ([id], [name], [phone], [email], [need], [message], [status], [created_at]) VALUES (2, N'Test', N'0900000000', N'test@example.com', N'daily', N'ping', N'New', CAST(N'2026-05-26 05:41:54.9308113' AS DateTime2))
SET IDENTITY_INSERT [dbo].[contact_messages] OFF
SET IDENTITY_INSERT [dbo].[decant_options] ON 

INSERT [dbo].[decant_options] ([id], [product_id], [volume_ml], [price], [status]) VALUES (1, 1, 5, 180000, 1)
INSERT [dbo].[decant_options] ([id], [product_id], [volume_ml], [price], [status]) VALUES (2, 1, 10, 320000, 1)
INSERT [dbo].[decant_options] ([id], [product_id], [volume_ml], [price], [status]) VALUES (3, 1, 20, 600000, 1)
SET IDENTITY_INSERT [dbo].[decant_options] OFF
SET IDENTITY_INSERT [dbo].[inventory_movements] ON 

INSERT [dbo].[inventory_movements] ([id], [product_id], [order_id], [order_item_id], [movement_type], [sealed_bottles_before], [sealed_bottles_after], [opened_ml_before], [opened_ml_after], [quantity_ml], [quantity_bottles], [reference], [created_at], [batch_id], [admin_id]) VALUES (1, 5, NULL, NULL, N'BOTTLE_SALE', 6, 5, 0, 0, NULL, 1, N'Bán 1 chai full', CAST(N'2026-05-26 09:06:04.0552325' AS DateTime2), NULL, NULL)
INSERT [dbo].[inventory_movements] ([id], [product_id], [order_id], [order_item_id], [movement_type], [sealed_bottles_before], [sealed_bottles_after], [opened_ml_before], [opened_ml_after], [quantity_ml], [quantity_bottles], [reference], [created_at], [batch_id], [admin_id]) VALUES (2, 5, NULL, NULL, N'CANCEL', 5, 6, 0, 0, NULL, 1, N'Hoàn chai full khi hủy đơn', CAST(N'2026-05-26 09:06:04.1831826' AS DateTime2), NULL, NULL)
INSERT [dbo].[inventory_movements] ([id], [product_id], [order_id], [order_item_id], [movement_type], [sealed_bottles_before], [sealed_bottles_after], [opened_ml_before], [opened_ml_after], [quantity_ml], [quantity_bottles], [reference], [created_at], [batch_id], [admin_id]) VALUES (3, 5, NULL, NULL, N'BOTTLE_SALE', 6, 5, 0, 0, NULL, 1, N'Bán 1 chai full', CAST(N'2026-05-26 09:16:36.3815781' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[inventory_movements] OFF
SET IDENTITY_INSERT [dbo].[inventory_transactions] ON 

INSERT [dbo].[inventory_transactions] ([id], [product_id], [variant_id], [product_variant_id], [order_id], [cart_id], [reservation_id], [transaction_type], [delta], [quantity], [stock_before], [stock_after], [reason], [reference_type], [reference_id], [performed_by], [metadata], [created_at]) VALUES (1, 1, NULL, NULL, NULL, NULL, NULL, N'IMPORT', 2, 2, NULL, NULL, N'Nhap hang PN0001', N'PURCHASE_RECEIPT', 1, NULL, N'{"receiptCode":"PN0001","seed":true}', CAST(N'2026-05-27 17:45:10.9837237' AS DateTime2))
INSERT [dbo].[inventory_transactions] ([id], [product_id], [variant_id], [product_variant_id], [order_id], [cart_id], [reservation_id], [transaction_type], [delta], [quantity], [stock_before], [stock_after], [reason], [reference_type], [reference_id], [performed_by], [metadata], [created_at]) VALUES (2, 2, NULL, NULL, NULL, NULL, NULL, N'IMPORT', 3, 3, NULL, NULL, N'Nhap hang PN0001', N'PURCHASE_RECEIPT', 1, NULL, N'{"receiptCode":"PN0001","seed":true}', CAST(N'2026-05-27 17:45:10.9837237' AS DateTime2))
INSERT [dbo].[inventory_transactions] ([id], [product_id], [variant_id], [product_variant_id], [order_id], [cart_id], [reservation_id], [transaction_type], [delta], [quantity], [stock_before], [stock_after], [reason], [reference_type], [reference_id], [performed_by], [metadata], [created_at]) VALUES (3, 3, NULL, NULL, NULL, NULL, NULL, N'IMPORT', 4, 4, NULL, NULL, N'Nhap hang PN0002', N'PURCHASE_RECEIPT', 2, NULL, N'{"receiptCode":"PN0002","seed":true}', CAST(N'2026-06-03 17:45:10.9837237' AS DateTime2))
SET IDENTITY_INSERT [dbo].[inventory_transactions] OFF
SET IDENTITY_INSERT [dbo].[login_attempts] ON 

INSERT [dbo].[login_attempts] ([id], [identifier], [user_id], [ip_address], [user_agent], [success], [failure_reason], [created_at]) VALUES (1, N'admin@huyperfume.com', 10, N'::1', N'codex-persistence-check-20260526112143', 1, NULL, CAST(N'2026-05-26 04:21:51.9468223' AS DateTime2))
INSERT [dbo].[login_attempts] ([id], [identifier], [user_id], [ip_address], [user_agent], [success], [failure_reason], [created_at]) VALUES (2, N'admin@huyperfume.com', 10, N'::1', N'codex-persistence-check-20260526112545', 1, NULL, CAST(N'2026-05-26 04:25:48.4888849' AS DateTime2))
INSERT [dbo].[login_attempts] ([id], [identifier], [user_id], [ip_address], [user_agent], [success], [failure_reason], [created_at]) VALUES (3, N'hieu@gmail.com', 4, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', 1, NULL, CAST(N'2026-05-26 04:45:24.3443882' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[login_attempts] OFF
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [selected_batch_code], [price_at_purchase], [status], [product_variant_id], [item_type], [selected_volume_ml], [source_batch_id]) VALUES (1, 1, 2, 1, 3300000, NULL, NULL, N'Normal', NULL, N'FULL_BOTTLE', NULL, NULL)
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [selected_batch_code], [price_at_purchase], [status], [product_variant_id], [item_type], [selected_volume_ml], [source_batch_id]) VALUES (2, 2, 2, 1, 3300000, NULL, NULL, N'Normal', NULL, N'FULL_BOTTLE', NULL, NULL)
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [selected_batch_code], [price_at_purchase], [status], [product_variant_id], [item_type], [selected_volume_ml], [source_batch_id]) VALUES (3, 3, 3, 1, 2200000, NULL, NULL, N'Normal', NULL, N'FULL_BOTTLE', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[order_items] OFF
SET IDENTITY_INSERT [dbo].[order_status_history] ON 

INSERT [dbo].[order_status_history] ([id], [order_id], [old_status], [new_status], [changed_by], [note], [created_at]) VALUES (1, 1, N'Giao hàng thành công', N'DELIVERED', NULL, N'Khởi tạo lịch sử trạng thái khi chuẩn hóa dữ liệu', CAST(N'2026-03-07 23:45:37.000' AS DateTime))
INSERT [dbo].[order_status_history] ([id], [order_id], [old_status], [new_status], [changed_by], [note], [created_at]) VALUES (2, 2, N'Chờ xác nhận', N'PENDING', NULL, N'Khởi tạo lịch sử trạng thái khi chuẩn hóa dữ liệu', CAST(N'2026-03-07 23:46:24.000' AS DateTime))
INSERT [dbo].[order_status_history] ([id], [order_id], [old_status], [new_status], [changed_by], [note], [created_at]) VALUES (3, 3, N'Chờ xác nhận', N'PENDING', NULL, N'Khởi tạo lịch sử trạng thái khi chuẩn hóa dữ liệu', CAST(N'2026-03-07 23:48:09.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[order_status_history] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [created_at], [total], [shipping_address], [phone], [payment_method], [momo_order_id], [momo_trans_id], [status], [zalopay_app_trans_id], [order_subtotal], [voucher_id], [voucher_code], [voucher_discount_type], [voucher_discount_value], [voucher_discount_amount]) VALUES (1, 6, CAST(N'2026-03-07 23:45:37.000' AS DateTime), 3300000, NULL, NULL, N'CreditCard', NULL, NULL, N'DELIVERED', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [created_at], [total], [shipping_address], [phone], [payment_method], [momo_order_id], [momo_trans_id], [status], [zalopay_app_trans_id], [order_subtotal], [voucher_id], [voucher_code], [voucher_discount_type], [voucher_discount_value], [voucher_discount_amount]) VALUES (2, 6, CAST(N'2026-03-07 23:46:24.000' AS DateTime), 3300000, NULL, NULL, N'Momo', NULL, NULL, N'PENDING', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [user_id], [created_at], [total], [shipping_address], [phone], [payment_method], [momo_order_id], [momo_trans_id], [status], [zalopay_app_trans_id], [order_subtotal], [voucher_id], [voucher_code], [voucher_discount_type], [voucher_discount_value], [voucher_discount_amount]) VALUES (3, 4, CAST(N'2026-03-07 23:48:09.000' AS DateTime), 14900000, NULL, NULL, N'Momo', NULL, NULL, N'PENDING', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[product_batches] ON 

INSERT [dbo].[product_batches] ([id], [product_id], [batch_code], [total_volume_ml], [remaining_volume_ml], [import_price], [status], [created_at]) VALUES (1, 1, N'LEGACY-INV-1', 400, 310, NULL, N'ACTIVE', CAST(N'2026-05-28 10:40:28.857' AS DateTime))
INSERT [dbo].[product_batches] ([id], [product_id], [batch_code], [total_volume_ml], [remaining_volume_ml], [import_price], [status], [created_at]) VALUES (2, 3, N'LEGACY-INV-3', 75, 30, NULL, N'ACTIVE', CAST(N'2026-05-28 10:40:28.857' AS DateTime))
INSERT [dbo].[product_batches] ([id], [product_id], [batch_code], [total_volume_ml], [remaining_volume_ml], [import_price], [status], [created_at]) VALUES (3, 5, N'LEGACY-INV-5', 400, 395, NULL, N'ACTIVE', CAST(N'2026-05-28 10:40:28.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[product_batches] OFF
SET IDENTITY_INSERT [dbo].[product_inventory] ON 

INSERT [dbo].[product_inventory] ([id], [product_id], [sealed_bottles], [opened_ml], [bottle_volume_ml], [created_at], [updated_at]) VALUES (1, 1, 1, 0, 100, CAST(N'2026-05-26 07:03:17.8380109' AS DateTime2), CAST(N'2026-06-06 15:47:07.2421603' AS DateTime2))
INSERT [dbo].[product_inventory] ([id], [product_id], [sealed_bottles], [opened_ml], [bottle_volume_ml], [created_at], [updated_at]) VALUES (2, 3, 0, 75, 100, CAST(N'2026-05-26 07:03:17.8420433' AS DateTime2), CAST(N'2026-06-06 05:18:36.4662523' AS DateTime2))
INSERT [dbo].[product_inventory] ([id], [product_id], [sealed_bottles], [opened_ml], [bottle_volume_ml], [created_at], [updated_at]) VALUES (3, 5, 4, 0, 100, CAST(N'2026-05-26 07:03:17.8420433' AS DateTime2), CAST(N'2026-05-26 09:29:20.6031443' AS DateTime2))
SET IDENTITY_INSERT [dbo].[product_inventory] OFF
SET IDENTITY_INSERT [dbo].[product_reviews] ON 

INSERT [dbo].[product_reviews] ([id], [product_id], [user_id], [order_id], [rating], [title], [comment], [status], [moderation_note], [moderated_by], [moderated_at], [created_at], [updated_at], [deleted_at]) VALUES (1, 62, 14, NULL, 5, N'Mùi hương sang và rất dễ dùng', N'Mùi lên da mềm, sạch và có độ sang vừa đủ. Mình dùng cả ngày vẫn thấy dễ chịu, phù hợp đi làm.', N'APPROVED', N'Seed review demo for product detail page', NULL, CAST(N'2026-06-06 11:28:41.9779728' AS DateTime2), CAST(N'2026-06-06 11:14:41.9779728' AS DateTime2), NULL, NULL)
INSERT [dbo].[product_reviews] ([id], [product_id], [user_id], [order_id], [rating], [title], [comment], [status], [moderation_note], [moderated_by], [moderated_at], [created_at], [updated_at], [deleted_at]) VALUES (2, 62, 15, NULL, 5, N'Đóng gói chỉn chu', N'Hàng nhận được đúng như mô tả, hộp đẹp và chai được bọc rất kỹ. Mùi giữ khá ổn trên da.', N'APPROVED', N'Seed review demo for product detail page', NULL, CAST(N'2026-06-06 11:28:41.9779728' AS DateTime2), CAST(N'2026-06-06 11:13:41.9779728' AS DateTime2), NULL, NULL)
INSERT [dbo].[product_reviews] ([id], [product_id], [user_id], [order_id], [rating], [title], [comment], [status], [moderation_note], [moderated_by], [moderated_at], [created_at], [updated_at], [deleted_at]) VALUES (3, 61, 16, NULL, 5, N'Ấn tượng ngay từ lần đầu thử', N'Tông mùi nam tính, lịch sự và không bị gắt. Dùng buổi tối rất hợp.', N'APPROVED', N'Seed review demo for product detail page', NULL, CAST(N'2026-06-06 11:28:41.9779728' AS DateTime2), CAST(N'2026-06-06 11:12:41.9779728' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[product_reviews] OFF
SET IDENTITY_INSERT [dbo].[product_variants] ON 

INSERT [dbo].[product_variants] ([id], [product_id], [sku], [barcode], [volume_ml], [volume_label], [variant_type], [price], [sale_price], [stock_quantity], [image], [sort_order], [status], [created_at], [updated_at], [deleted_at]) VALUES (1, 1, N'SAUVAGE-EDT-FULL', NULL, 100, N'100ml', N'FULL', 2950000, 2550000, 1, NULL, 0, 1, CAST(N'2026-05-26 07:03:17.8420433' AS DateTime2), CAST(N'2026-06-06 22:47:07.3200000' AS DateTime2), NULL)
INSERT [dbo].[product_variants] ([id], [product_id], [sku], [barcode], [volume_ml], [volume_label], [variant_type], [price], [sale_price], [stock_quantity], [image], [sort_order], [status], [created_at], [updated_at], [deleted_at]) VALUES (2, 1, N'SAUVAGE-EDT-D5', NULL, 5, N'5ml', N'DECANT', 180000, NULL, 20, NULL, 1, 1, CAST(N'2026-05-26 07:03:17.8521275' AS DateTime2), CAST(N'2026-06-06 22:47:07.3270000' AS DateTime2), NULL)
INSERT [dbo].[product_variants] ([id], [product_id], [sku], [barcode], [volume_ml], [volume_label], [variant_type], [price], [sale_price], [stock_quantity], [image], [sort_order], [status], [created_at], [updated_at], [deleted_at]) VALUES (3, 1, N'SAUVAGE-EDT-D10', NULL, 10, N'10ml', N'DECANT', 320000, NULL, 10, NULL, 2, 1, CAST(N'2026-05-26 07:03:17.8551462' AS DateTime2), CAST(N'2026-06-06 22:47:07.3330000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[product_variants] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [sku], [batch_code], [name], [image], [price], [discount_price], [quantity], [status], [id_category], [id_brand], [stock], [volume_ml], [description], [created_at], [scent_notes], [is_decant], [updated_at], [deleted_at], [rating_average], [review_count]) VALUES (1, NULL, NULL, N'Dior Sauvage EDT', N'1.png', 2950000, 0, 6, 1, 1, 1, 6, 100, NULL, CAST(N'2026-05-01 02:22:21.000' AS DateTime), N'Chanh vang, Tao xanh, Bach dau khau|Hoa hong, Nhan trang, Hoa cam|Go dan huong, Vanilla, Vetiver', 0, CAST(N'2026-06-02 21:15:24.4430000' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[products] ([id], [sku], [batch_code], [name], [image], [price], [discount_price], [quantity], [status], [id_category], [id_brand], [stock], [volume_ml], [description], [created_at], [scent_notes], [is_decant], [updated_at], [deleted_at], [rating_average], [review_count]) VALUES (2, NULL, NULL, N'Bleu de Chanel EDP', N'2.png', 3300000, 0, 5, 1, 1, 1, 5, 0, NULL, CAST(N'2026-05-01 02:22:21.000' AS DateTime), N'Buoi chum, Qua le, La tim|Hoa mau don, Lily, Hoa sua|Patchouli, Amber, Xa huong', 0, CAST(N'2026-06-02 21:15:20.6000000' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[products] ([id], [sku], [batch_code], [name], [image], [price], [discount_price], [quantity], [status], [id_category], [id_brand], [stock], [volume_ml], [description], [created_at], [scent_notes], [is_decant], [updated_at], [deleted_at], [rating_average], [review_count]) VALUES (3, NULL, NULL, N'Versace Dylan Blue', N'3.png', 2200000, 0, 3, 1, 1, 2, 3, 100, NULL, CAST(N'2026-05-01 02:22:21.000' AS DateTime), N'Bach qua, Tieu den, Mandarin|Iris, Geranium, Hoa linh lan|Tonka bean, Oud nhe, Go guaiac', 0, CAST(N'2026-06-02 11:49:31.0700000' AS DateTime2), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[PurchaseReceiptItems] ON 

INSERT [dbo].[PurchaseReceiptItems] ([PurchaseReceiptItemId], [PurchaseReceiptId], [ProductId], [VariantId], [Quantity], [ImportPrice], [TotalPrice], [Note], [CreatedAt]) VALUES (1, 1, 1, NULL, 2, CAST(2500000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), N'Nhap hang mau', CAST(N'2026-06-06 17:45:10.9905338' AS DateTime2))
INSERT [dbo].[PurchaseReceiptItems] ([PurchaseReceiptItemId], [PurchaseReceiptId], [ProductId], [VariantId], [Quantity], [ImportPrice], [TotalPrice], [Note], [CreatedAt]) VALUES (2, 1, 2, NULL, 3, CAST(1800000.00 AS Decimal(18, 2)), CAST(5400000.00 AS Decimal(18, 2)), N'Nhap hang mau', CAST(N'2026-06-06 17:45:10.9905338' AS DateTime2))
INSERT [dbo].[PurchaseReceiptItems] ([PurchaseReceiptItemId], [PurchaseReceiptId], [ProductId], [VariantId], [Quantity], [ImportPrice], [TotalPrice], [Note], [CreatedAt]) VALUES (3, 2, 3, NULL, 4, CAST(1250000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), N'Nhap hang mau', CAST(N'2026-06-06 17:45:10.9905338' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PurchaseReceiptItems] OFF
SET IDENTITY_INSERT [dbo].[PurchaseReceipts] ON 

INSERT [dbo].[PurchaseReceipts] ([PurchaseReceiptId], [SupplierId], [TotalAmount], [ReceiptDate], [Status], [IsDeleted], [ReceiptCode], [ImportDate], [Note], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, 2, CAST(10400000.00 AS Decimal(18, 2)), CAST(N'2026-05-27 17:45:10.9837237' AS DateTime2), N'COMPLETED', 0, N'PN0001', CAST(N'2026-05-27 17:45:10.9837237' AS DateTime2), N'Phieu nhap mau ban dau', NULL, CAST(N'2026-05-27 17:45:10.9837237' AS DateTime2), NULL)
INSERT [dbo].[PurchaseReceipts] ([PurchaseReceiptId], [SupplierId], [TotalAmount], [ReceiptDate], [Status], [IsDeleted], [ReceiptCode], [ImportDate], [Note], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, 2, CAST(11400000.00 AS Decimal(18, 2)), CAST(N'2026-06-03 17:45:10.9837237' AS DateTime2), N'COMPLETED', 0, N'PN0002', CAST(N'2026-06-03 17:45:10.9837237' AS DateTime2), N'Bo sung ton kho mau', NULL, CAST(N'2026-06-03 17:45:10.9837237' AS DateTime2), NULL)
INSERT [dbo].[PurchaseReceipts] ([PurchaseReceiptId], [SupplierId], [TotalAmount], [ReceiptDate], [Status], [IsDeleted], [ReceiptCode], [ImportDate], [Note], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, 3, CAST(18000000.00 AS Decimal(18, 2)), CAST(N'2026-06-06 00:00:00.0000000' AS DateTime2), N'COMPLETED', 0, N'PN0003', CAST(N'2026-06-06 00:00:00.0000000' AS DateTime2), NULL, 10, CAST(N'2026-06-06 22:04:28.9307188' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseReceipts] OFF
SET IDENTITY_INSERT [dbo].[refresh_tokens] ON 

INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [family_id], [issued_jti], [replaced_by_token_id], [user_agent], [ip_address], [expires_at], [revoked_at], [created_at]) VALUES (1, 10, N'1395ff2c87d5390b496d4778ba683e7c91a16188d6b0d3a827b26524232d2b52', N'ec5d0199-534c-4406-8515-455e9b1786a0', N'acc460f6-cf42-4ad3-a0b0-d69ea097a999', NULL, N'codex-persistence-check-20260526112143', N'::1', CAST(N'2026-06-02 04:21:52.0570000' AS DateTime2), CAST(N'2026-05-26 04:23:57.2112224' AS DateTime2), CAST(N'2026-05-26 04:21:52.0776922' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [family_id], [issued_jti], [replaced_by_token_id], [user_agent], [ip_address], [expires_at], [revoked_at], [created_at]) VALUES (2, 10, N'c0b203eebfbe2156054fb2317727c538bc345f1287d20bf0c70437407a55a4a1', N'dbb2e6bc-8b5b-4ff5-9abd-56f220173e3e', N'8d731ff6-d037-47ab-9c72-60bfcbe27963', 3, N'codex-persistence-check-20260526112545', N'::1', CAST(N'2026-06-02 04:25:48.5480000' AS DateTime2), CAST(N'2026-05-26 04:25:51.1640333' AS DateTime2), CAST(N'2026-05-26 04:25:48.5551321' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_id], [token_hash], [family_id], [issued_jti], [replaced_by_token_id], [user_agent], [ip_address], [expires_at], [revoked_at], [created_at]) VALUES (3, 10, N'9351fe8b3713b2b596eb32b9019b5b623367ca116a0d73c5464d31d467d0064d', N'dbb2e6bc-8b5b-4ff5-9abd-56f220173e3e', N'605f0cb6-58dd-4467-b644-1f71b47230cd', NULL, N'codex-persistence-check-20260526112545', N'::1', CAST(N'2026-06-02 04:25:51.0940000' AS DateTime2), CAST(N'2026-05-26 04:25:51.2164472' AS DateTime2), CAST(N'2026-05-26 04:25:51.1080167' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[refresh_tokens] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierCode], [SupplierName], [RepresentativeName], [Phone], [Email], [Address], [Note], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'NCC0001', N'HoaPerfumee', N'Mai Văn Hòa', N'0906444444', N'vanhoa@gmail.com', N'Tổ 6, Thành phố Hà Nội', NULL, N'ACTIVE', CAST(N'2026-06-06 13:14:48.8721691' AS DateTime2), NULL, 0)
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierCode], [SupplierName], [RepresentativeName], [Phone], [Email], [Address], [Note], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'NCC0002', N'NhatAnhPerfume', N'Nhật Anh', N'0908888888', N'anh@gmail.com', N'huế', NULL, N'ACTIVE', CAST(N'2026-06-06 21:46:36.9121307' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[SupplierUpdateHistory] ON 

INSERT [dbo].[SupplierUpdateHistory] ([HistoryId], [SupplierId], [ActionType], [OldValue], [NewValue], [UpdatedBy], [UpdatedAt]) VALUES (2, 2, N'CREATE', NULL, N'{"supplierName":"HoaPerfumee","representativeName":"Mai Văn Hòa","phone":"0906444444","email":"vanhoa@gmail.com","address":"Tổ 6, Thành phố Hà Nội","note":"","status":"ACTIVE","supplierCode":"NCC0001"}', 10, CAST(N'2026-06-06 13:14:48.8858441' AS DateTime2))
INSERT [dbo].[SupplierUpdateHistory] ([HistoryId], [SupplierId], [ActionType], [OldValue], [NewValue], [UpdatedBy], [UpdatedAt]) VALUES (3, 3, N'CREATE', NULL, N'{"supplierName":"NhatAnhPerfume","representativeName":"Nhật Anh","phone":"0908888888","email":"anh@gmail.com","address":"huế","note":"","status":"ACTIVE","supplierCode":"NCC0002"}', 10, CAST(N'2026-06-06 21:46:36.9213862' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SupplierUpdateHistory] OFF
SET IDENTITY_INSERT [dbo].[user_addresses] ON 

INSERT [dbo].[user_addresses] ([id], [user_id], [label], [recipient_name], [phone], [line1], [line2], [ward], [district], [city], [country], [postal_code], [is_default], [created_at], [updated_at], [deleted_at]) VALUES (1, 4, N'5/2 Triều Sơn Tây', N'Minh Hiếu', N'0799494949', N'5/2 Triều Sơn Tây', N'', N'Hương An', N'Phú Xuân', N'Huế', N'VN', N'', 1, CAST(N'2026-06-02 04:13:00.7860856' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[user_addresses] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([id], [code], [name], [discount_type], [discount_value], [min_order_value], [max_discount_value], [usage_limit], [used_count], [start_at], [end_at], [status], [created_at]) VALUES (14, N'U', N'U', N'AMOUNT', 500000, 2000, 750000, 4, 2, CAST(N'2026-05-31 01:53:00.000' AS DateTime), CAST(N'2026-06-03 01:50:00.000' AS DateTime), 1, CAST(N'2026-05-31 22:50:44.157' AS DateTime))
INSERT [dbo].[vouchers] ([id], [code], [name], [discount_type], [discount_value], [min_order_value], [max_discount_value], [usage_limit], [used_count], [start_at], [end_at], [status], [created_at]) VALUES (19, N'HUY', N'HUY', N'AMOUNT', 50, 1500000, 1000000, 3, 0, CAST(N'2026-05-31 20:31:00.000' AS DateTime), CAST(N'2026-06-01 20:31:00.000' AS DateTime), 1, CAST(N'2026-06-01 10:31:28.797' AS DateTime))
INSERT [dbo].[vouchers] ([id], [code], [name], [discount_type], [discount_value], [min_order_value], [max_discount_value], [usage_limit], [used_count], [start_at], [end_at], [status], [created_at]) VALUES (22, N'SALE50', N'Giảm sinh nhật', N'PERCENT', 50, 3000000, 800000, 3, 3, CAST(N'2026-06-02 02:37:00.000' AS DateTime), CAST(N'2026-06-03 02:38:00.000' AS DateTime), 1, CAST(N'2026-06-02 09:38:25.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[vouchers] OFF
SET IDENTITY_INSERT [dbo].[wishlist] ON 

INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [created_at]) VALUES (3, 10, 3, CAST(N'2026-05-28 13:51:46.983' AS DateTime))
INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [created_at]) VALUES (5, 4, 1, CAST(N'2026-06-03 21:21:45.513' AS DateTime))
INSERT [dbo].[wishlist] ([id], [user_id], [product_id], [created_at]) VALUES (6, 4, 36, CAST(N'2026-06-03 21:21:59.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[wishlist] OFF
/****** Object:  Index [IX_cart_items_cart_product_variant]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_cart_items_cart_product_variant] ON [dbo].[cart_items]
(
	[cart_id] ASC,
	[product_id] ASC,
	[product_variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [UX_cart_items_product_variant]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_cart_items_product_variant] ON [dbo].[cart_items]
(
	[cart_id] ASC,
	[product_id] ASC,
	[variant_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_carts_active_token]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_carts_active_token] ON [dbo].[carts]
(
	[cart_token] ASC
)
WHERE ([cart_token] IS NOT NULL AND [status]=N'ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_carts_active_user]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_carts_active_user] ON [dbo].[carts]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [status]=N'ACTIVE')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_decant_options_product_volume]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_decant_options_product_volume] ON [dbo].[decant_options]
(
	[product_id] ASC,
	[volume_ml] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_email_verification_tokens_hash]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_email_verification_tokens_hash] ON [dbo].[email_verification_tokens]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_inventory_movements_product]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_inventory_movements_product] ON [dbo].[inventory_movements]
(
	[product_id] ASC,
	[created_at] DESC
)
INCLUDE ( 	[movement_type],
	[quantity_ml],
	[sealed_bottles_before],
	[sealed_bottles_after],
	[opened_ml_before],
	[opened_ml_after]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_inventory_transactions_reference]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_inventory_transactions_reference] ON [dbo].[inventory_transactions]
(
	[reference_type] ASC,
	[reference_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_login_attempts_identifier_time]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_login_attempts_identifier_time] ON [dbo].[login_attempts]
(
	[identifier] ASC,
	[created_at] ASC
)
INCLUDE ( 	[success],
	[ip_address],
	[user_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_items_product_variant_id]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_items_product_variant_id] ON [dbo].[order_items]
(
	[product_variant_id] ASC
)
WHERE ([product_variant_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_status_history_order_created]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_status_history_order_created] ON [dbo].[order_status_history]
(
	[order_id] ASC,
	[created_at] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_orders_momo_order_id]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_orders_momo_order_id] ON [dbo].[orders]
(
	[momo_order_id] ASC
)
WHERE ([momo_order_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_orders_zalopay_app_trans_id]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_orders_zalopay_app_trans_id] ON [dbo].[orders]
(
	[zalopay_app_trans_id] ASC
)
WHERE ([zalopay_app_trans_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_password_reset_tokens_hash]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_password_reset_tokens_hash] ON [dbo].[password_reset_tokens]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_product_batches_product_status]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_batches_product_status] ON [dbo].[product_batches]
(
	[product_id] ASC,
	[status] ASC,
	[remaining_volume_ml] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_product_inventory_product]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_product_inventory_product] ON [dbo].[product_inventory]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_product_reviews_moderation]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_reviews_moderation] ON [dbo].[product_reviews]
(
	[status] ASC,
	[created_at] DESC
)
INCLUDE ( 	[product_id],
	[user_id],
	[rating],
	[deleted_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_product_reviews_product_status]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_reviews_product_status] ON [dbo].[product_reviews]
(
	[product_id] ASC,
	[status] ASC,
	[created_at] DESC
)
INCLUDE ( 	[rating],
	[user_id],
	[order_id],
	[deleted_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_product_reviews_user_product_active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_product_reviews_user_product_active] ON [dbo].[product_reviews]
(
	[user_id] ASC,
	[product_id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_variants_discovery]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_variants_discovery] ON [dbo].[product_variants]
(
	[product_id] ASC,
	[status] ASC,
	[volume_ml] ASC,
	[price] ASC,
	[sale_price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_variants_product_sort]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_variants_product_sort] ON [dbo].[product_variants]
(
	[product_id] ASC,
	[sort_order] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_admin_visibility]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_products_admin_visibility] ON [dbo].[products]
(
	[deleted_at] ASC,
	[status] ASC,
	[id_brand] ASC,
	[id_category] ASC,
	[stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_products_sku_not_null]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_products_sku_not_null] ON [dbo].[products]
(
	[sku] ASC
)
WHERE ([sku] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceiptItems_Product]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceiptItems_Product] ON [dbo].[PurchaseReceiptItems]
(
	[ProductId] ASC,
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceiptItems_Receipt]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceiptItems_Receipt] ON [dbo].[PurchaseReceiptItems]
(
	[PurchaseReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceipts_Supplier]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceipts_Supplier] ON [dbo].[PurchaseReceipts]
(
	[SupplierId] ASC,
	[IsDeleted] ASC,
	[ReceiptDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_PurchaseReceipts_Code]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PurchaseReceipts_Code] ON [dbo].[PurchaseReceipts]
(
	[ReceiptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_user_active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_user_active] ON [dbo].[refresh_tokens]
(
	[user_id] ASC,
	[family_id] ASC,
	[expires_at] ASC
)
INCLUDE ( 	[revoked_at],
	[replaced_by_token_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_refresh_tokens_hash]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_refresh_tokens_hash] ON [dbo].[refresh_tokens]
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_social_accounts_provider_user]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_social_accounts_provider_user] ON [dbo].[social_accounts]
(
	[provider] ASC,
	[provider_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Suppliers_Search]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_Suppliers_Search] ON [dbo].[Suppliers]
(
	[IsDeleted] ASC,
	[Status] ASC,
	[SupplierName] ASC,
	[Email] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_Suppliers_Code]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Suppliers_Code] ON [dbo].[Suppliers]
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_Suppliers_Email_Active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Suppliers_Email_Active] ON [dbo].[Suppliers]
(
	[Email] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_Suppliers_Phone_Active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Suppliers_Phone_Active] ON [dbo].[Suppliers]
(
	[Phone] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_addresses_user_active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE NONCLUSTERED INDEX [IX_user_addresses_user_active] ON [dbo].[user_addresses]
(
	[user_id] ASC,
	[is_default] ASC,
	[id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_user_addresses_one_default]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_user_addresses_one_default] ON [dbo].[user_addresses]
(
	[user_id] ASC
)
WHERE ([is_default]=(1) AND [deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_users_email_active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_users_email_active] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL AND [email]<>N'' AND [deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_users_phone_active]    Script Date: 06/06/2026 10:49:49 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_users_phone_active] ON [dbo].[users]
(
	[phone] ASC
)
WHERE ([phone] IS NOT NULL AND [phone]<>N'' AND [deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__vouchers__357D4CF962B71156]    Script Date: 06/06/2026 10:49:49 CH ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [uq_wishlist_user_product]    Script Date: 06/06/2026 10:49:49 CH ******/
ALTER TABLE [dbo].[wishlist] ADD  CONSTRAINT [uq_wishlist_user_product] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[email_verification_tokens] ADD  CONSTRAINT [DF_email_verification_tokens_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  CONSTRAINT [DF_password_reset_tokens_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[social_accounts] ADD  CONSTRAINT [DF_social_accounts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_carts] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_carts]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_product_variants] FOREIGN KEY([product_variant_id])
REFERENCES [dbo].[product_variants] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_product_variants]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_products]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_users]
GO
ALTER TABLE [dbo].[decant_options]  WITH CHECK ADD  CONSTRAINT [FK_decant_options_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[decant_options] CHECK CONSTRAINT [FK_decant_options_products]
GO
ALTER TABLE [dbo].[email_verification_tokens]  WITH CHECK ADD  CONSTRAINT [FK_email_verification_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[email_verification_tokens] CHECK CONSTRAINT [FK_email_verification_tokens_users]
GO
ALTER TABLE [dbo].[inventory_movements]  WITH CHECK ADD  CONSTRAINT [FK_inventory_movements_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[inventory_movements] CHECK CONSTRAINT [FK_inventory_movements_orders]
GO
ALTER TABLE [dbo].[inventory_movements]  WITH CHECK ADD  CONSTRAINT [FK_inventory_movements_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[inventory_movements] CHECK CONSTRAINT [FK_inventory_movements_products]
GO
ALTER TABLE [dbo].[inventory_transactions]  WITH CHECK ADD  CONSTRAINT [FK_inventory_transactions_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[inventory_transactions] CHECK CONSTRAINT [FK_inventory_transactions_products]
GO
ALTER TABLE [dbo].[login_attempts]  WITH CHECK ADD  CONSTRAINT [FK_login_attempts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[login_attempts] CHECK CONSTRAINT [FK_login_attempts_users]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_orders]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_product_batches] FOREIGN KEY([source_batch_id])
REFERENCES [dbo].[product_batches] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_product_batches]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_product_variants] FOREIGN KEY([product_variant_id])
REFERENCES [dbo].[product_variants] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_product_variants]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_products]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK_order_status_history_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK_order_status_history_orders]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK_order_status_history_users] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK_order_status_history_users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[product_batches]  WITH CHECK ADD  CONSTRAINT [FK_product_batches_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_batches] CHECK CONSTRAINT [FK_product_batches_products]
GO
ALTER TABLE [dbo].[product_inventory]  WITH CHECK ADD  CONSTRAINT [FK_product_inventory_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_inventory] CHECK CONSTRAINT [FK_product_inventory_products]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_moderators] FOREIGN KEY([moderated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_moderators]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_orders]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_products]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK_product_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK_product_reviews_users]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [FK_product_variants_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [FK_product_variants_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brand] FOREIGN KEY([id_brand])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brand]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([id_category])
REFERENCES [dbo].[categories] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceiptItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [FK_PurchaseReceiptItems_Products]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceiptItems_ProductVariants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[product_variants] ([id])
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [FK_PurchaseReceiptItems_ProductVariants]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceiptItems_Receipts] FOREIGN KEY([PurchaseReceiptId])
REFERENCES [dbo].[PurchaseReceipts] ([PurchaseReceiptId])
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [FK_PurchaseReceiptItems_Receipts]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_Suppliers]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_replaced_by] FOREIGN KEY([replaced_by_token_id])
REFERENCES [dbo].[refresh_tokens] ([id])
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_replaced_by]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_users]
GO
ALTER TABLE [dbo].[social_accounts]  WITH CHECK ADD  CONSTRAINT [FK_social_accounts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[social_accounts] CHECK CONSTRAINT [FK_social_accounts_users]
GO
ALTER TABLE [dbo].[SupplierUpdateHistory]  WITH CHECK ADD  CONSTRAINT [FK_SupplierUpdateHistory_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[SupplierUpdateHistory] CHECK CONSTRAINT [FK_SupplierUpdateHistory_Suppliers]
GO
ALTER TABLE [dbo].[user_addresses]  WITH CHECK ADD  CONSTRAINT [FK_user_addresses_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_addresses] CHECK CONSTRAINT [FK_user_addresses_users]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlist_products]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlist_users]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [CK_cart_items_quantity_positive] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [CK_cart_items_quantity_positive]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [CK_carts_owner] CHECK  (([user_id] IS NOT NULL OR [cart_token] IS NOT NULL))
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [CK_carts_owner]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [CK_carts_status] CHECK  (([status]=N'ABANDONED' OR [status]=N'CHECKED_OUT' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [CK_carts_status]
GO
ALTER TABLE [dbo].[decant_options]  WITH CHECK ADD  CONSTRAINT [CK_decant_options_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[decant_options] CHECK CONSTRAINT [CK_decant_options_price]
GO
ALTER TABLE [dbo].[decant_options]  WITH CHECK ADD  CONSTRAINT [CK_decant_options_volume] CHECK  (([volume_ml]>(0)))
GO
ALTER TABLE [dbo].[decant_options] CHECK CONSTRAINT [CK_decant_options_volume]
GO
ALTER TABLE [dbo].[inventory_movements]  WITH CHECK ADD  CONSTRAINT [CK_inventory_movements_type] CHECK  (([movement_type]=N'CANCEL' OR [movement_type]=N'MANUAL_ADJUST' OR [movement_type]=N'ADJUSTMENT' OR [movement_type]=N'RETURN_RESTOCK' OR [movement_type]=N'DECANT_RESTOCK' OR [movement_type]=N'BOTTLE_RESTOCK' OR [movement_type]=N'BOTTLE_SALE' OR [movement_type]=N'DECANT_SOLD' OR [movement_type]=N'DECANT_SALE' OR [movement_type]=N'BOTTLE_OPEN'))
GO
ALTER TABLE [dbo].[inventory_movements] CHECK CONSTRAINT [CK_inventory_movements_type]
GO
ALTER TABLE [dbo].[inventory_transactions]  WITH NOCHECK ADD  CONSTRAINT [CK_inventory_transactions_type] CHECK  (([transaction_type] IS NULL OR ([transaction_type]=N'ADJUSTMENT' OR [transaction_type]=N'ORDER_CANCEL' OR [transaction_type]=N'SALE' OR [transaction_type]=N'IMPORT_CANCEL' OR [transaction_type]=N'IMPORT' OR [transaction_type]=N'ADJUST' OR [transaction_type]=N'RESTORE' OR [transaction_type]=N'RELEASE' OR [transaction_type]=N'COMMIT' OR [transaction_type]=N'RESERVE')))
GO
ALTER TABLE [dbo].[inventory_transactions] CHECK CONSTRAINT [CK_inventory_transactions_type]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status_canonical] CHECK  (([status]=N'REFUNDED' OR [status]=N'CANCELLED' OR [status]=N'CANCELLED_PAYMENT' OR [status]=N'PAYMENT_FAILED' OR [status]=N'COMPLETED' OR [status]=N'DELIVERED' OR [status]=N'SHIPPING' OR [status]=N'PACKING' OR [status]=N'CONFIRMED' OR [status]=N'PENDING' OR [status]=N'PENDING_PAYMENT'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status_canonical]
GO
ALTER TABLE [dbo].[product_batches]  WITH CHECK ADD  CONSTRAINT [CK_product_batches_volume] CHECK  (([total_volume_ml]>=(0) AND [remaining_volume_ml]>=(0) AND [remaining_volume_ml]<=[total_volume_ml]))
GO
ALTER TABLE [dbo].[product_batches] CHECK CONSTRAINT [CK_product_batches_volume]
GO
ALTER TABLE [dbo].[product_inventory]  WITH CHECK ADD  CONSTRAINT [CK_product_inventory_bottle_volume] CHECK  (([bottle_volume_ml]>(0)))
GO
ALTER TABLE [dbo].[product_inventory] CHECK CONSTRAINT [CK_product_inventory_bottle_volume]
GO
ALTER TABLE [dbo].[product_inventory]  WITH CHECK ADD  CONSTRAINT [CK_product_inventory_opened_ml] CHECK  (([opened_ml]>=(0)))
GO
ALTER TABLE [dbo].[product_inventory] CHECK CONSTRAINT [CK_product_inventory_opened_ml]
GO
ALTER TABLE [dbo].[product_inventory]  WITH CHECK ADD  CONSTRAINT [CK_product_inventory_sealed_bottles] CHECK  (([sealed_bottles]>=(0)))
GO
ALTER TABLE [dbo].[product_inventory] CHECK CONSTRAINT [CK_product_inventory_sealed_bottles]
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [CK_product_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [CK_product_reviews_rating]
GO
ALTER TABLE [dbo].[product_reviews]  WITH NOCHECK ADD  CONSTRAINT [CK_product_reviews_status] CHECK  (([status]=N'FLAGGED' OR [status]=N'REJECTED' OR [status]=N'APPROVED' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [CK_product_reviews_status]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [CK_product_variants_price_positive] CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [CK_product_variants_price_positive]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [CK_product_variants_sale_price_valid] CHECK  (([sale_price] IS NULL OR [sale_price]<=[price]))
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [CK_product_variants_sale_price_valid]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [CK_product_variants_stock_non_negative] CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [CK_product_variants_stock_non_negative]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [CK_product_variants_volume_valid] CHECK  (([volume_ml] IS NULL OR [volume_ml]>(0)))
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [CK_product_variants_volume_valid]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceiptItems_ImportPrice] CHECK  (([ImportPrice]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [CK_PurchaseReceiptItems_ImportPrice]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceiptItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [CK_PurchaseReceiptItems_Quantity]
GO
ALTER TABLE [dbo].[PurchaseReceiptItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceiptItems_TotalPrice] CHECK  (([TotalPrice]=CONVERT([decimal](18,2),[Quantity]*[ImportPrice])))
GO
ALTER TABLE [dbo].[PurchaseReceiptItems] CHECK CONSTRAINT [CK_PurchaseReceiptItems_TotalPrice]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceipts_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'COMPLETED' OR [Status]=N'DRAFT'))
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [CK_PurchaseReceipts_Status]
GO
ALTER TABLE [dbo].[social_accounts]  WITH CHECK ADD  CONSTRAINT [CK_social_accounts_provider] CHECK  (([provider]=N'APPLE' OR [provider]=N'FACEBOOK' OR [provider]=N'GOOGLE'))
GO
ALTER TABLE [dbo].[social_accounts] CHECK CONSTRAINT [CK_social_accounts_provider]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [CK_Suppliers_Status] CHECK  (([Status]=N'INACTIVE' OR [Status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [CK_Suppliers_Status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]=N'STAFF' OR [role]=N'ADMIN' OR [role]=N'USER'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_status] CHECK  (([status]=N'DISABLED' OR [status]=N'LOCKED' OR [status]=N'PENDING_VERIFICATION' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_status]
GO
USE [master]
GO
